/*customer.css*/

/*全局配色*/
.background{
	background: #fff;
}
.background-gray{
	background: #f9f9f9;
}
.blue{
	background: #34c4e6;
}
.yellow{
	background: #f4a830;
}
.title{
	color:#232323;
}
.text-gray{
	color:#aaaaaa;
}
.wraper-bg{
	background: #f9f9f9;
}
/*表单内placeholder*/
input::-webkit-input-placeholder{
	color:#ccc;
}
/*font-size*/
.title{
	font-size: 14px;
}
.info{
	font-size: 13px;
}

/*图片圆角*/
.img-circle{
	border-radius: 50% 50%;
}
/*修正content会被footer遮盖*/
.content-padding-50{
	padding-bottom: 50px;
}

.box{
	width:100%;
	display: inline-block;
	float: left;
}

/*box-padding*/
.padding{
	padding:10px;
}
/*box-margin*/
.margin-top{
	margin-top: 10px;
}
.margin-bottom{
	margin-bottom: 10px;
}
/*标签*/
.label{
	border-radius: 4px;
	padding:3px 6px;
	color:#fff;
	font-size: 12px;
	margin-right: 5px;
	display: inline-block;
}
/*分类标签*/
.category > .label{
	font-size: 14px;
	padding:6px 12px;
}
/*边框颜色*/
.border{
	border:1px solid #E4E3E3;
}
.border-top{
	border-top:1px solid #E4E3E3;
}
.border-bottom{
	border-bottom:1px solid #E4E3E3;
}

/*menu-bar*/
.menu-bar{
	background:#fff;
}
.customer-icon{
	width:20px !important;
	height:20px !important;
	display: inline-block;
	margin-right: 4px;
	position: relative !important;
    top: 3px !important;
}
.home-img{
	background: url('../img/home.png');
	background-position: 0,0;
	background-size: cover;
}
.find-img{
	background: url('../img/find.png');
	background-position: 0,0;
	background-size: cover;
}
.person-img{
	background: url('../img/person.png');
	background-position: 0,0;
	background-size: cover;
}
.menu-bar .tab-item.active{
	color:#34c4e6;
}
.menu-bar .tab-item.active > .customer-icon{
	background-position: 19px 0;
}

/*category-search*/
.category-search{
	padding-top: 10px;
}
.category-box{
	width:100%;
	float: left;
}
.category-box .category-item{
	width:25%;
	float: left;
	text-align: center;
	
}
.category-box .category-item{
	color:#092329;
	font-size: 17px;
	line-height: 24px;
}
.category-item-img{
	display: inline-block;
}
.category-item-img img{
	width:80%;
}
.category-box > .category-item.active{
	color:#34c4e6;
}
.category-box > .category-item.active div{
	text-align: center;
	float: left;
	width:100%;
}
.category-box > .category-item.active div span{
	border-bottom: 2px solid #34c4e6;
	padding-bottom: 10px;
	display: inline-block;
}
.search-box{
	padding: 10px;
	background: #f9f9f9;
}
.search-box input{
	margin:0;
}
.search-box ::-webkit-input-placeholder{
	color:#95d8e9;
	text-align: center;
}

/*course*/
.course-box{
	float: left;
	width:100%;
	padding: 10px 0;
}

/*login-register*/

.login-header{
	padding:0 100px;
	margin:20px 0 25px 0;
}
.login-header .segmented-control{
	border:none;
	background: none;
}
.login-header .segmented-control .control-item{
	padding:10px 0 10px 0;
	font-size: 14px;
}
.login-header .segmented-control .control-item:first-child{
	border:1px solid #ccc;
	border-right:none;
	background-color: #fff;
    border-radius: 10px 0px 0px 10px;
}
.login-header .segmented-control .control-item:last-child{
	    border: 1px solid #ccc;
    border-left: 1px solid #34c4e6;
    background-color: #fff;
    border-radius: 0px 10px 10px 0;
}
.login-header .segmented-control .control-item.active{
	background: #fff;
	border-color: #34c4e6;
	color: #34c4e6;
}
#itemLogin,#itemRegister{
	border-top:1px solid #cccccc;
}
#itemLogin input,#itemRegister input{
	padding-left:10px;
	padding-right:10px;
	height:45px;
}
